body {
  background-color: #252628;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  height: 70px;
  width: auto;
  margin-top: 20px;
  align-items: center;
  background-color: #181818;
}

li a {
  color: #9a5d66;
}

.presentation {
  color: white;
  margin: auto;
  padding: 50px;
  margin-top: 100px;
}

.contactMe {
  color: #9a5d66;
  border: 2px solid #9a5d66;
  background-color: #252628;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  margin: auto;
}

.contactBtn {
  padding: 50px;
  margin-top: -50px;
}
